<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.irsina.sandro.irsina">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Lingua"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".Cattedrale" />
        <activity android:name=".Storia" />
        <activity android:name=".Mantegna" />
        <activity android:name=".Cosa_Vedere" />
        <activity android:name=".Miglionico" />
        <activity android:name=".SanFrancesco" />
        <activity android:name=".SponsorSingolo"> </activity>
        <activity android:name=".Nuget1" />
        <activity android:name=".Museo" />
        <activity android:name=".Muretto1" />
        <activity android:name=".Porticella1" />
        <activity android:name=".Fuori" />
        <activity android:name=".Nuget" />
        <activity android:name=".Bottini" />
        <activity android:name=".Fontane" />
        <activity android:name=".Peschiera" />
        <activity android:name=".Pieta" />
        <activity android:name=".Juso" />
        <activity android:name=".Storia_SanFrancesco" />
        <activity android:name=".Cancelle" />
        <activity android:name=".Cripta" />
        <activity android:name=".CriptaFrancesco" />
        <activity android:name=".Vedere_Janora" />
        <activity android:name=".Orari_Museo" />
        <activity android:name=".Orari_SanFrancesco" />
        <activity android:name=".Orari_Cattedrale" />
        <activity android:name=".Scanner"/>
    </application>

</manifest>
