<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sandro.irsina">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:icon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Lingua"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".Cattedrale"></activity>
        <activity android:name=".Storia"></activity>
        <activity android:name=".Mantegna"></activity>
        <activity android:name=".Cosa_Vedere"></activity>
        <activity android:name=".Miglionico"></activity>
        <activity android:name=".SanFrancesco"></activity>
        <activity android:name=".SponsorSingolo"></activity>
        <activity android:name=".Muretto"></activity>
        <activity android:name=".Museo"></activity>
        <activity android:name=".Porticella"></activity>
    </application>

</manifest>